/* General styles for the App component */
.App {
    text-align: center;
  }
  
  /* Header inside App component */
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  /* Main content */
  .App-main {
    padding: 20px;
    background-color: #fff;
  }
  
  /* Footer inside App component */
  .App-footer {
    background-color: #282c34;
    padding: 10px 0;
    color: white;
  }

  